* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.quiz-container {
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);  
  width: 80%;
  border-radius: 7px;
  padding: 1rem;
}

h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 1rem;
}

ul {
    padding-left: 2rem;
    padding-bottom: 1rem;
}

li {
    list-style-type: none;
}

#result-container {
   margin: 1rem 0 1rem 0;
}

button {
    padding: 10px 7px;
    border-radius: 5px;
    border: none;
    background-color: rgb(91, 91, 234);
    color: white;
}

.info {
    background-color: orange;
} 

.right {
    color: rgb(39, 94, 39);
    font-weight: bold;
}

.explanation {
    font-style: italic;
}

.wrong {
    color: red;
    font-weight: bold;
}

